DB_STORAGE_PATH=<<The sqllite database storage file path. This path should be same as what was used to tweet-readerapp>>
SERVER_PORT=<<Enter the server port eg 3000 or 3002. The port should be different if running on same host>>
