SERVER_PORT=<<Enter the server port eg 3000 or 3002>>

DB_STORAGE_PATH=<<The sqllite database storage file path>>

TWITTER_BEARER_TOKEN=<<Twitter bearer token of the registered application>>
TWITTER_SEARCH_API_URL=https://api.twitter.com/2/tweets/search/recent
TWITTER_SEARCH_HASHTAG=#liveperson
SYNC_FREQUENCY=<<EType 'Once' if tweets needs to be synce once or type '*' if tweets needs to synced frequently>>
SYNC_INTERVAL=<<Sync frequency in millisecond eg:30000 to sync every 30 seconds>>